*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EEEDEB;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 30%;
    font-size: 90%;
    text-align: center;
}

button:hover {
    background-color: #000000;
}

form {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: #000000;
    width: 90%;
    font-size: 130%;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    background-color: #ffffff;
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

input[type="submit"],
select{
    padding: 10px 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 30%;
    font-size: 90%;
}

.additional-buttons{
    background-color: #EEEDEB;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
    
}

.proctor-container{
    text-align: center;
    margin-top: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #32620E;
    max-width: 100%;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    font-size: 25px;
    color: #ffffff;
    background-color: #32620E ;
    text-align: left;
    padding: 14px 1px;
    text-decoration: none;
    display: flex;
    font-family: "Impact","sans-serif";
    margin-left: 10px;
    width: 80%;
    

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 10%;
    height: 10%;
}

.logo_2 {
    position: relative;
    width: 30%;
    height: 30%;
    float: left;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
}

.wrapper{
    position: relative;
    display: grid;
    place-items: center;
    width: 40vh;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.name-input{
    padding: 0.6rem 1.2rem;
    color: #444;
    font-size: 1.5rem;
    border-radius: 5px;
}

.name-label{
    position: absolute;
    top: 0.6rem;
    left: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    transition: 0.4s all;
    padding-inline: 0.25rem;
}

.name-input:focus~.name-label,
.name-input:valid~.name-label {
    top: -0.5rem;
    left: 0.5rem;
    background-color: #fff;
    font-size: 1rem;
}

.page-topnav{
    background-color: #32620E;
    overflow: hidden;
}

.page-font{
    float: left;
    font-size: 100%;
    font-family: "Impact","sans-serif";
    color: #ffffff;
    background-color: #32620E ;
    text-align: left;
    padding: 20px 1px ;
    text-decoration: none;
    display: flex;
    margin-left: 10px;
    width: 80%;
}

.left-text{
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.right-logo{
    max-width: 100px;
}
.page-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000000;
    padding: 20px;

}
.container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.content p {
    flex: 1;
}

.content img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
    margin-left: 20px;
}

.text {
    flex: 1;
}

.text div {
    display: flex;
    flex-direction: column;
}

.text h2 {
    margin: 0 0 10px 0;
}

.text p {
    margin: 0;
}

